<!-- Footer -->
<div class="container p-4 mt-4 m-auto mb-0 pb-0">
    <footer class="py-3 my-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link px-2 text-white">{{"footer.footHome" | translate}}</a>
            </li>
            <li class="nav-item">
                <a routerLink="/products" class="nav-link px-2 text-white">{{"footer.footProduct" | translate}}</a>
            </li>
            <li class="nav-item">
                <a routerLink="/categories" class="nav-link px-2 text-white">{{"footer.footCategory" | translate}}</a>
            </li>
            <li class="nav-item">
                <a routerLink="/employees" class="nav-link px-2 text-white">{{"footer.footEmploye" | translate}}</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contactus" class="nav-link px-2 text-white">{{"footer.footContact" | translate}}</a>
            </li>
        </ul>
        <p class="text-center text-white pt-3 mt-3">
            {{"footer.text" | translate}}
        </p>
    </footer>
</div>